<div class="mt-xl header">
    <div class="container">
	    <p style="font-size:6px;">COMMUNICATION STYLE DISCLAIMER: This webspace is a deliberate strategy meant to provide a transparent way of sharing my process/world. The purpose of this communication strategy is to determine the best way of going about doing things, by making my process/world accessible to people who may be able to help. Everything here is highly experimental.<a href="https://up.computer/">The Universal Piece Computer</a>, <a
  href="https://wp.computer/">World Piece Computer</a> = <a href="https://blairmunroakusa.wp.computer/">Blair Munro</a> ... <a href="https://timemachineforpeace.blairmunroakusa.wp.computer/astudyinpeace_htmlforindexing.html" class="hover:text-eureka">(a study in peace)</a></p>
        <div class="row justify-content-center">
            <div class="col-auto">
                <a href="{{ .Site.BaseURL }}">
			<h1 class="name">{{ .Site.Params.sitename }}</h1></a>
		   
            </div>
        </div>

        <div class="row justify-content-center">
            <ul class="nav nav-primary">
                {{ range .Site.Menus.primary.ByWeight }}
                <li class="nav-item">
                    <a class="nav-link{{ if .Identifier }} text-{{ .Identifier }}{{ end }}" href="{{ .URL }}">
                        {{ .Pre }}
                        {{ .Name }}
                    </a>
                </li>
                {{ end }}
            </ul>

        </div>
		    <p>.</p>
	    <p>.</p>
	    <p>.</p>
    </div>
</div>
