{{ define "main" }}
{{ partial "header" . }}
<h5>This website is currently under total(ish) resonstruction.</h5> 
<h5>To view original website,</h5>
<h5><a href="https://summer2021.timemachineforpeace.wp.computer">please enter by clicking HERE <em>(AT YOUR OWN RISK)</em></a>.</h5>.


<div class="content">

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-sm-12 col-lg-8">

<!--
                <div class="mx-0 mx-md-4 posts">
                </div>
-->
            </div>
        </div>
    </div>
</div>

{{ partial "footer" . }}
{{ end }}
